<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-firestore.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
            max-width: 100%;
            font-family: sans-serif;
        }
    </style>
</head>
<body style="padding: 0px;margin:0px">
    <div class="top" style="background-color: #251B37;min-height:40px"></div>
    {{{body}}}
    <div class="bottom" style="background-color: #251B37;min-height:40px;"></div>
</body>
</html>